.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 500px;
  margin-top: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  font-size: 18px;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  background-color: #008cba;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0077b3;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}